In [2]:
# Importin Libraries

import pandas as pd # Data manipulation
import numpy as np # Matrix calculatio
import geopandas as gpd # GIS of Pandas
import seaborn as sb # Parof of matplotlib for Data Viz
import matplotlib.pyplot as plt # data viz

# ETL (Extract, Tranform, Load)

### Data Extraction

In [9]:
# Defining Directories

directory_main = '/users/ruhidmirzayev/palette/notebooks/cohort 6/'
# Yield
directory_rm_yields = directory_main + 'rm-yields-data.csv'
#GIS
directory_gis= directory_main + 'SK_RM_Shapefiles/RuralMunicipality.shp'

In [11]:
# Reading Yields
df_rm_yields=pd.read_csv(directory_rm_yields)
# Reading GIS
gdf_rm=gpd.read_file(directory_gis)

### Data Transformation

In [13]:
df_rm_yields.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25607 entries, 0 to 25606
Data columns (total 18 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Year          25607 non-null  int64
 1   RM            25607 non-null  int64
 2   Winter Wheat  3104 non-null   float64
 3   Canola        14588 non-null  float64
 4   Spring Wheat  25498 non-null  float64
 5   Mustard       4680 non-null   float64
 6   Durum         11926 non-null  float64
 7   Sunflowers    946 non-null    float64
 8   Oats          24348 non-null  float64
 9   Lentils       5907 non-null   float64
 10  Peas          8703 non-null   float64
 11  Barley        25272 non-null  float64
 12  Fall Rye      15914 non-null  float64
 13  Canary Seed   3941 non-null   float64
 14  Spring Rye    805 non-null    float64
 15  Tame Hay      4205 non-null   float64
 16  Flax          21310 non-null  float64
 17  Chickpeas     1296 non-null   float64
dtypes: float64(16), int64(2)
memory usage: 3.5 MB

In [ ]:
NaN

In [14]:
df_rm_yields.isna().sum()

Year                0
RM                  0
Winter Wheat    22503
Canola          11019
Spring Wheat      109
Mustard         20927
Durum           13681
Sunflowers      24661
Oats             1259
Lentils         19700
Peas            16904
Barley            335
Fall Rye         9693
Canary Seed     21666
Spring Rye      24802
Tame Hay        21402
Flax             4297
Chickpeas       24311
dtype: int64

In [16]:
df_rm_yields.describe().T

,count,mean,std,min,25%,50%,75%,max
Year,25607.0,1980.379310,24.799668,1938.0,1959.00,1980.0,2002.00,2023.00
RM,25607.0,248.919280,148.815798,1.0,124.00,247.0,370.00,622.00
Winter Wheat,3104.0,38.337729,12.321936,3.0,30.00,38.0,45.80,90.00
Canola,14588.0,24.564054,9.603160,0.0,18.00,23.1,30.00,60.10
Spring Wheat,25498.0,26.196668,11.631959,0.0,19.00,26.0,32.00,198.00
Mustard,4680.0,836.131812,280.345523,35.6,650.00,836.0,1000.00,2500.00
Durum,11926.0,29.200370,10.113954,0.0,23.00,28.3,34.50,88.10
Sunflowers,946.0,692.629915,555.776604,0.0,0.00,790.5,1100.00,2400.00
Oats,24348.0,47.675041,22.555618,0.0,33.00,46.2,60.00,165.10
Lentils,5907.0,1178.983977,417.398358,46.0,900.00,1170.0,1446.00,3411.00
Peas,8703.0,31.240917,10.474982,0.0,24.30,31.2,38.30,86.80
Barley,25272.0,38.470558,17.057229,0.0,26.40,38.0,49.10,105.94
Fall Rye,15914.0,21.306786,10.237820,0.0,15.00,20.0,26.50,108.00
Canary Seed,3941.0,1001.914643,363.012355,6.0,757.00,1000.0,1208.00,2727.00
Spring Rye,805.0,7.575776,12.473814,0.0,0.00,0.0,20.00,46.50
Tame Hay,4205.0,1.181520,0.654725,0.0,0.75,1.2,1.57,4.00
Flax,21310.0,14.431579,7.199819,0.0,9.00,14.0,19.49,110.00
Chickpeas,1296.0,1108.007076,766.079678,7.1,480.00,1200.0,1650.75,5400.00

In [17]:
df_rm_yields

,Year,RM,Winter Wheat,Canola,Spring Wheat,Mustard,Durum,Sunflowers,Oats,Lentils,Peas,Barley,Fall Rye,Canary Seed,Spring Rye,Tame Hay,Flax,Chickpeas
0,1938,1,NaN,NaN,4.0,NaN,NaN,NaN,1.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,0.0,NaN
1,1939,1,NaN,NaN,9.0,NaN,NaN,NaN,16.0,NaN,NaN,16.0,NaN,NaN,NaN,NaN,0.0,NaN
2,1940,1,NaN,NaN,12.0,NaN,NaN,NaN,23.0,NaN,NaN,19.0,NaN,NaN,NaN,NaN,8.0,NaN
3,1941,1,NaN,NaN,18.0,NaN,NaN,NaN,32.0,NaN,NaN,28.0,NaN,NaN,NaN,NaN,5.0,NaN
4,1942,1,NaN,NaN,20.0,NaN,NaN,NaN,35.0,NaN,NaN,28.0,14.0,NaN,NaN,NaN,5.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25602,2019,622,NaN,46.1,63.9,NaN,NaN,NaN,106.0,NaN,33.7,73.9,NaN,NaN,NaN,NaN,NaN,NaN
25603,2020,622,NaN,40.9,55.1,NaN,NaN,NaN,94.5,NaN,49.2,74.3,NaN,NaN,NaN,NaN,NaN,NaN
25604,2021,622,NaN,23.9,17.0,NaN,NaN,NaN,25.8,NaN,NaN,23.3,NaN,NaN,NaN,NaN,NaN,NaN
25605,2022,622,NaN,44.4,66.8,NaN,NaN,NaN,93.0,NaN,NaN,76.9,NaN,NaN,NaN,NaN,NaN,NaN
25606,2023,622,NaN,45.9,69.8,NaN,NaN,NaN,121.3,NaN,NaN,74.8,NaN,NaN,NaN,NaN,NaN,NaN